<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HPK Gallery</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="display-3 text-center">HPK Gallery</h1>
        </div>
        <hr>
        <div th:if="${albums.size() == 0}" class="col-sm-12">
            <h2 class="text-center">It's empty in here. Please create some Albums!</h2>
            <a href="@{/albums/new}" class="btn btn-lg btn-success mx-auto">Add an Album</a>
        </div>
        <div th:if="${albums.size() > 0}" th:each="a : ${albums}" class="col-sm-2 gallery-a">
            <div class="gallery-i mx-1">
                <img th:src="${a.galleryCover}" th:alt="${a.name} + ' Gallery Image'" class="album-t">
                <h3 th:text="${a.name}">Album Name <small th:text=" '(' + ${a.images.size()} + ')'">Image Count</small></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>